@import '../../styles/variables';



.blog{
     h1{
        font-size: 20px;
        font-family: $font-karla;
        color: yellow;
     }
     h2{
        font-size: 20px;
        font-family: $font-rambla;
     }
     h3{
        font-size: 20px;
        font-family: $font-rubik;
     }
}