@import "../../styles/variables";

.header {
  height: 613px;
  width: 100%;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Fixed background */
  background-size: contain;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    color: #000;
    font-family: $font-rubik;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.667%;
    text-transform: uppercase;
    max-width: 713px;
    margin-bottom: 15px;
  }
  &__subtitle {
    margin-top: 15px;
    color: #000;
    font-family: $font-rambla;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    max-width: 555px;
  }
  form {
    margin-top: 26px;
    display: flex;
    max-width: 406px;
    height: 60px;
    background: #f5f6f8;
    border-radius: 6px;
    button {
      border: none;
      outline: none;
      text-decoration: none;
      border-radius: 6px;
      background: #f5f6f8;
    }
    input {
      border-radius: 6px;
      background: #f5f6f8;
      border: none;
      outline: none;
      text-decoration: none;
    }
  }
}




@include respond-to-904{
  .hero{
    margin-top: 50px;
    &__title{
      font-size: 50px;
      max-width: 500px;
    }
    &__subtitle{
      max-width: 500px;
    }
    form{
      max-width: 350px;
    }
  }
}

@include respond-to-1040{
  .hero{
    &__title{
      font-size: 55px;
    }
  }
}

@include respond-to-839{
  .hero{
    &__subtitle{
      font-size: 25px;
      max-width: 400px;
    }
  }
}

@include respond-to-640{
  .hero{
    &__title{
      max-width: 290px;
      font-size: 35px;
      margin-top: 10px;
    }
    &__subtitle{
      max-width: 290px;
      font-size: 25px;
      margin-top: 5px;
    }
    form{
      margin-top: 5px;
      max-width: 260px;
    }
  }
}

@include respond-to-xs{
  .hero{
    form{
      max-width: 130px;
    }
  }
}
@include respond-to-490{
  .header {
  height: 370px;
  width: 100%;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Fixed background */
  background-size: contain;
}

  .hero{
    &__title{
      font-size: 22px;
      max-width: 180px;
    }
    &__subtitle{
      font-size: 12px;
      max-width: 200px;
    }
    form{
      margin-top: 0;
      max-width: 50px;
      height: 50px;
      input{
        max-width: 100px;
      }
    }
  }
}