@import "../../styles/variables";
@import "../../styles/mixins";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  &__left {
    display: flex;
    gap: 20px;
  }
  &__right {
    display: flex;
    gap: 45px;
    ul {
      display: flex;
      gap: 45px;
      list-style: none;
      li {
        color: #fff;
        a {
          color: #fff;
          font-family: $font-rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          outline: none;
          text-decoration: none;
          padding-bottom: 4px;
        }
        .active {
          border-bottom: 2px solid white;
        }
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 58px;
      border-radius: 30px;
      background: var(--color-second, #f5f6f8);
      border: 1px solid transparent;
      color: #000;
      font-family: $font-rubik;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    button:hover {
      background-color: #d8dee9;
      color: #403d3d;
      transform: scale(1.03);
      transition: all 0.2s;
    }
    button:active {
      background-color: #d8dee9;
      color: #403d3d;
      transform: scale(0.9);
      transition: all 0.2s;
    }
  }
}
.mobile__menu {
  display: none;
  transition: all 0.4s;
  button{
    background-color: rgb(255, 148, 8);
    border: none;
    display: none;
  }

  ul {
    background-color: rgb(255, 94, 0);
    transition: all 0.4s;
    border-radius: 20px;
    position: fixed;
    top: 15%;
    right: 7%;
    width: 30%;
    height: 40vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-right: 20px;
    li {
      a {
        color: #fff;
        font-family: $font-rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        outline: none;
        text-decoration: none;
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 20px;
      border-radius: 10px;
      background: var(--color-second, #f5f6f8);
      border: 1px solid transparent;
      color: #000;
      font-family: $font-rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      max-width: 120px;
    }
  }
}
@include respond-to-lg {
  .navbar {
    &__right {
      gap: 20px;
      ul {
        gap: 20px;
      }
      button {
        padding: 13px 40px;
        border-radius: 20px;
      }
    }
  }
}

@include respond-to-640 {
  .navbar {
    &__right {
      display: none;
    }
    
  }
  .mobile__menu{
    display: block;
    button{
      display: block;
    }
  }
}



@include respond-to-490{
  .mobile__menu {
  display: block;
  transition: all 0.4s;
  button{
    background-color: rgb(255, 148, 8);
    border: none;
    display: block;
  }

  ul {
    background-color: rgb(255, 94, 0);
    transition: all 0.4s;
    border-radius: 20px;
    position: fixed;
    top: 15%;
    right: 7%;
    width: 30%;
    height: 32vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-right: 10px;
    li {
      a {
        font-family: $font-rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        outline: none;
        text-decoration: none;
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 20px;
      border-radius: 10px;
      background: var(--color-second, #f5f6f8);
      border: 1px solid transparent;
      color: #000;
      font-family: $font-rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      max-width: 120px;
    }
  }
}
}